<script id="template-autocomplete-produto" type="text/x-handlebars-template">
	<div class="bw-tabela-item">
		<div class="bw-tabela-item__coluna  bw-tabela-item__coluna--foto">
			<img src="{{urlThumbnailFoto}}" class="img-responsive" />
		</div>
		<div class="bw-tabela-item__coluna  bw-tabela-item__coluna--detalhes">
			<span class="bw-tabela-produto-nome">{{nome}}</span>
			<span class="label  label-default">{{sku}}</span>
			<span class="bw-tabela-produto-origem">{{origem}}</span>
		</div>
		<div class="bw-tabela-item__coluna  bw-tabela-item__coluna--valores">
			<div class="bw-tabela-produto-valor-medio">R${{valorFormatado}}</div>
		</div>
	</div>
</script>