<!DOCTYPE html>
<html lang="pt" xmlns="http://www.w3.org/1999/xhtml" 
	xmlns:th="http://www.thymeleaf.org"
	xmlns:data="http://www.thymeleaf.org/extras/data">

	<div class="bw-tabela-item  js-tabela-item" th:each="item : ${itens}" data:valor-total="${valorTotal}">
		<div class="bw-tabela-item__coluna  bw-tabela-item__coluna--foto">
			<img th:src="${item.produto.urlThumbnailFoto}" class="img-responsive"/>
		</div>
		
		<div class="bw-tabela-item__coluna  bw-tabela-item__coluna--detalhes">
			<span class="bw-tabela-produto-nome" th:text="${item.produto.nome}">Negra Modelo Long Neck 355ml</span>
			<span class="label  label-default" th:text="${item.produto.sku}">AA1112</span>
			<span class="bw-tabela-produto-origem" th:text="${item.produto.origem.descricao}">Importada</span>
		</div>
		
		<div class="bw-tabela-item__coluna  bw-tabela-item__coluna--valores">
			<div class="bw-tabela-produto-valor-pequeno">
				<input type="text" maxlength="3" 
					class="bw-tabela-produto-campo-quantidade  js-tabela-produto-quantidade-item" 
					th:value="${item.quantidade}" data:codigo-produto="${item.produto.codigo}"
					th:disabled="${venda != null ? venda.salvarProibido : false}"/>
				<span>x R$[[${{item.valorUnitario}}]]</span>
			</div>
			<div class="bw-tabela-produto-valor-grande">R$[[${{item.valorTotal}}]]</div>
		</div>
		
		<div class="bw-tabela-item__painel-exclusao" th:if="${venda != null ? venda.salvarPermitido : false}">
			<span class="bw-tabela-item__titulo-exclusao">Excluir este item da venda?</span>
			<button type="button" class="btn  btn-danger  js-exclusao-item-btn"
				data:codigo-produto="${item.produto.codigo}">Sim, excluir!</button>
		</div>
	</div>
	
	<div class="bw-tabela-produtos__vazio" th:if="${itens.empty}">
		<i class="glyphicon  glyphicon-shopping-cart"></i> 
		<span>Você ainda não adicionou nenhuma produto.</span>
	</div>
</html>