<!DOCTYPE html>
<html lang="pt" xmlns="http://www.w3.org/1999/xhtml" 
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout/LayoutPadrao}"
	xmlns:brewer="http://brewer.algaworks.com">
	
<head>
	<title>Cadastro de produto</title>
	
	<link rel="stylesheet" th:href="@{/stylesheets/vendors/upload.min.css}"/>
</head>

<body>
<section layout:fragment="conteudo">

	<div class="page-header">
		<div class="container-fluid">
			<div class="row">
				<div class="col-xs-10">
					<h1 th:if="${produto.nova}">Cadastro de produto</h1>
					<h1 th:unless="${produto.nova}" th:text="|Edição da ${produto.nome}|">Edição de produto</h1>
				</div>
			
				<div class="col-xs-2">
					<div class="aw-page-header-controls">
						<a class="btn  btn-default" th:href="@{/produtos}">
							<i class="glyphicon  glyphicon-plus-sign"></i> <span class="hidden-xs  hidden-sm">Pesquisa</span>
						</a>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div class="container-fluid">

		<form method="POST" th:object="${produto}" class="form-vertical  js-form-loading" 
				th:action="${produto.nova} ? @{/produtos/nova} : @{/produtos/{codigo}(codigo=${produto.codigo})}">
			<brewer:message/>
			
			<input type="hidden" th:field="*{codigo}"/>
	
			<div class="row">
				<div class="col-sm-2  form-group  bw-required" brewer:classforerror="sku">
					<label for="sku" class="control-label">SKU</label>
					<input id="sku" type="text" class="form-control" th:field="*{sku}"/>
				</div>
				
				<div class="col-sm-10  form-group bw-required" brewer:classforerror="nome">
					<label for="nome" class="control-label">Nome</label>
					<input id="nome" type="text" class="form-control" th:field="*{nome}"/>
				</div>
			</div>

			<div class="form-group  bw-required" brewer:classforerror="descricao">
				<label for="descricao" class="control-label">Descrição</label>
				<textarea id="descricao" rows="3" class="form-control" th:field="*{descricao}"></textarea>
			</div>

			<div class="row">
				<div class="col-sm-4  form-group  bw-required" brewer:classforerror="categoria">
					<label for="categoria" class="control-label">Categoria</label>
					<div class="bw-field-action">
						<select id="categoria" class="form-control" th:field="*{categoria}">
							<option value="">Selecione o categoria</option>
							<option th:each="categoria : ${categorias}" th:value="${categoria.codigo}" th:text="${categoria.nome}">Pale lager</option>
						</select>
						
						<div class="bw-field-action__icon">
							<a href="#" data-toggle="modal" data-target="#modalCadastroRapidoCategoria">
								<i class="glyphicon  glyphicon-plus-sign  bw-glyphicon-large"></i>
							</a>
						</div>
					</div>
				</div>
				
				<div class="col-sm-4  form-group  bw-required" brewer:classforerror="tipoProduto">
					<label for="tipoProduto" class="control-label">Tipo</label>
					<select id="tipoProduto" class="form-control" th:field="*{tipoProduto}">
						<option value="">Selecione o tipo</option>
						<option th:each="tipoProduto : ${tipos}" th:value="${tipoProduto}" th:text="${tipoProduto.descricao}">Foleada</option>
					</select>
				</div>
				
				<div class="col-lg-3  col-sm-6  form-group  bw-required" brewer:classforerror="origem">
					<label for="origem" class="control-label">Origem</label>
					<div>
						<th:block th:each="origem : ${origens}">
							<div class="radio  radio-inline">
								<input th:id="|id_${origem}|" type="radio" th:value="${origem}" th:field="*{origem}"> 
								<label th:for="|id_${origem}|" th:text="${origem.descricao}">Nacional</label>
							</div>
						</th:block>
					</div>
				</div>
			</div>
			
			<div class="row">
				<div class="col-sm-4  form-group  bw-required" brewer:classforerror="valor">
					<label for="valor" class="control-label">Valor</label>
					<div class="input-group">
						<div class="input-group-addon">R$</div>
						<input id="valor" type="text" class="form-control  js-decimal" th:field="*{valor}"/>
					</div>
				</div>
				
				<div class="col-sm-4  form-group  bw-required" brewer:classforerror="comissao">
					<label for="comissao" class="control-label">Comissão</label>
					<div class="input-group">
						<input id="comissao" type="text" class="form-control  js-decimal" th:field="*{comissao}"/>
						<div class="input-group-addon">%</div>
					</div>
				</div>
				
				<div class="col-sm-4  form-group  bw-required" brewer:classforerror="quantidadeEstoque">
					<label for="estoque" class="control-label">Estoque</label>
					<input id="estoque" type="text" class="form-control  js-plain" th:field="*{quantidadeEstoque}"/>
				</div>
			</div>
			
			<div class="row">
				<div class="form-group  col-sm-12">
					<input type="hidden" th:field="*{foto}">
					<input type="hidden" th:field="*{contentType}">
					<input type="hidden" th:field="*{novaFoto}">
					<input type="hidden" th:field="*{urlFoto}">
				
					<label class="control-label">Foto</label>
					
					<div class="js-container-foto-produto" th:attr="data-url-fotos=@{/fotos}">
						<div id="upload-drop" class="bw-upload">
							<img th:src="@{/images/mini-loading.gif}" class="js-img-loading  hidden"/>
							<i class="glyphicon  glyphicon-cloud-upload"></i>
							<span>Arraste a foto aqui ou </span>
							<a class="bw-upload-form-file">selecione <input id="upload-select" type="file" accept=".jpg,.jpeg,.png"/></a>
						</div>
					</div>
				</div>
			</div>
			
			<div class="form-group">
				<button class="btn  btn-primary" type="submit">Salvar</button>
			</div>
	
		</form>
	</div>
	
	<div th:replace="categoria/CadastroRapidoCategoria :: modal"></div>
	<th:block th:replace="hbs/FotoProduto"></th:block>
</section>

<th:block layout:fragment="javascript-extra">
	<script th:src="@{/javascripts/categoria.cadastro-rapido.js}"></script>
	<script th:src="@{/javascripts/vendors/uikit.min.js}"></script>
	<script th:src="@{/javascripts/vendors/upload.min.js}"></script>
	<script th:src="@{/javascripts/vendors/handlebars.min.js}"></script>
	<script th:src="@{/javascripts/produto.upload-foto.js}"></script>
	
</th:block>
	
</body>
</html>